[build]
builder = "pack"

[deploy]
startCommand = "python check_env.py && alembic upgrade head && python main.py"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5

[env]
PORT = "8000"
PYTHON_VERSION = "3.9.18"
